.page-wrapper {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*align-items: flex-start;*/
    min-height: 100vh;
    margin: 0;
    background-image: url('https://source.unsplash.com/1600x900/?cinema');
    font-family: 'Open Sans', sans-serif;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.movienav {
    position: relative;
    z-index: 9;
}

/*#main-heading{*/
/*    opacity: 75%;*/
/*}*/

.main {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    background-color: #00000080;
}

.movie-layout {
    display: flex;
    flex-grow:1;
    align-items: start;
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    background-color: #00000033;
    flex: auto;
    min-width: 250px;
    max-width: 200px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.movie-pic-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000;
}

.movie-pic {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.movie-card h3 {
    margin-bottom: unset;
}
